<h1>Artists</h1>
<%= will_paginate @artists %>
<div class="flex-between">
  <ul id="artists-list">
  <% @artists.each do |a| %>
    <li><%= link_to a.name, artist_path(a) %> (<%=a.song_artists.count%>)</li>
  <% end %>
  </ul>

</div>

