.tabs {
  width:100%;
  display:flex;
  margin-bottom:2rem;
}

.tab {
  flex-grow:2;
  padding:8px;
  border:1px solid black;
  text-align:center;
  cursor:pointer;
}

.tab.active {
  background-color:#01110A;
  color:white;
}

.table:not(.active) {
  display:none;
}

.artist-labels span {
  position:relative;
  left:-0.25rem;
}
