<h1>Labels (<%=@labels.count%>)</h1>

<div class="flex-between">
  <ul id="labels-list">
  <% @labels.each do |l| %>
    <li class="<%="red" if l.founder.nil? && l.parent.nil? %>"><%= link_to l.name, label_path(l) %></li>
  <% end %>
  </ul>

</div>
