<h1>Riddims (<%=@riddims.count%>)</h1>

<div class="flex-between">
  <ul id="riddims-list">
  <% @riddims.each do |r| %>
    <li><%= link_to r.title, riddim_path(r) %></li>
  <% end %>
  </ul>

</div>
