<% content_for :meta_title, "Riddims index - #{DEFAULT_META["meta_website_name"]}" %>

<h1>Riddims (<%=@riddims.count%>)</h1>

<div class="flex-between">
  <ul id="riddims-list">
  <% @riddims.each do |r| %>
    <li><%= link_to r.title, riddim_path(r) %> (<%=Song.where(riddim_id: r.id).count%>)</li>
  <% end %>
  </ul>

</div>
