<% content_for :meta_title, "#{@riddim.title} riddim - #{DEFAULT_META["meta_website_name"]}" %>

<h1><%= @riddim.title %> (<%=@songs.count%>)</h1>

<%= render 'shared/songs_table' unless @songs.empty? %>
