#song-form {
  margin:32px 0;
  label {
    margin-right:16px;
  }
  .form-group:first-of-type {
    display:flex;
  }
}

#song_song_artists_name {
  flex-grow:2;
}

#new_song {
  width:50%;
}

#add-artist {
  cursor:pointer;
  font-weight:bold;
  color:darkblue;
  margin:1rem 0;
}


.add-element {
  margin:2rem 0;
  form {
    display:flex;
    align-items:center;
    justify-content:space-between;
    div, input, label {
      margin:0 4px;
    }
    label {
      width:50px;
    }
  }
}

.choices__inner {
  background-color:white;
}
