table {
  margin:auto;
  width:100%;
  margin:1rem 0;
}

th {
  text-align:center;
}

td, th {
  padding:3px 6px!important;
  vertical-align:middle!important;
  border:1px dotted rgba(0,0,0,0.8)!important;
  max-width:25vw;
}

td.search {
  text-align:center;
  a {
    color:red;
    font-size:1.25rem;
  }
}

.original {
  background-color:#ffba08;
}

.pagination {
  margin:8px 0;
}
.pagination > * {
  margin:0 8px;
}

tr.song > td:nth-child(4), tr.song > td:last-child {
  text-align:center;
}
