// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  width:80vw;
  margin:auto;
  font-size:0.875rem;
  padding:5rem 0;
}

ul {
  list-style-type:none;
}

nav {
  padding:8px;
  margin-bottom:24px;
  a {
    margin:0 16px 0 0;
  }
}

.flex-between {
  display:flex;
  justify-content:space-between;
}


.fixed {
  position:fixed;
  top:15vh;
  right:10vw;
}
