// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "choices.js/public/assets/styles/choices.css";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  width:80vw;
  margin:auto;
  font-size:0.875rem;
  padding:4rem 0;
  color:#0A0A0A;
  position:relative;
}

h1 {
  margin-bottom:1.75rem;
}

h3, h4, h5 {
  margin-bottom:1rem;
}

ul {
  padding-inline-start:10px;
  list-style-type:none;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  li {
    width:250px;
    line-height:1.5;
    font-size:1rem;
  }
}

a {
  color:#0A0A0A;
  text-shadow:1px;
  &:hover {
    color:#d00000;
  }
}

.flex-between {
  display:flex;
  justify-content:space-between;
}


.fixed {
  position:fixed;
  top:15vh;
  right:10vw;
}

.top-right {
  position:absolute;
  top:80px;
  right:0;
}

.current {
  font-weight:bold;
}

.edit {
  position:absolute;
  right:10vw;
}

.red > a {
  color:$red;
}
